<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ queue.user.name }}</strong>
  <p>A VM <strong>{{ vm.name }}</strong> acaba de ser liberada e você é o próximo da fila.</p>
  <br>
  <p>Voce tem 15 minutos para ocupá-la, do contrário ela será liberada para o próximo da fila.</p>
  <br>
  <p><a href="">Clique aqui para confirmar a reserva.</a></p>

</body>

</html>
